doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Pet Sitting
    link(rel='stylesheet', href='./css/app.css')
    link(rel='stylesheet', href='./css/buttons.css')

  body
    h1 Pet Sitting

    #controls
      select#species
        option(value='dog.png') Dog
        option(value='cat.png') Cat
        option(value='unicorn.png') Unicorn
        option(value='dragon.png') Dragon
      select#gender
        option Male
        option Female
      input#name(type='text', placeholder='Name Required')
      input#age(type='text', placeholder='Age')
      button#add Add

    #pets

    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='./js/es6/database.js')
    script(src='./js/es6/pet.js')
    script(src='./js/es6/main.js')
